<div class="post-single" [ngClass]="{'is-active': isActive}">
    <div class="clearfix text-right">
        <button type="button" [routerLink]="['/']"
                class="btn" aria-label="Close" >
            <span aria-hidden="true" style="font-size: 50px">&times;</span>
        </button>
    </div>
    <h1>
        {{post.title}}
    </h1>
    <p>{{post.content}}</p>

    <agm-map [latitude]="post.lat" [longitude]="post.long">
        <agm-marker [latitude]="post.lat" [longitude]="post.long"></agm-marker>
    </agm-map>

    <img *ngIf="post.imageUrl" [src]="post.imageUrl" [alt]="post.title" class="img-fluid">

    <div class="d-flex justify-content-end">
        <button class="btn btn-dark" [routerLink]="['/edit/', post.id]">Modify</button>
    </div>

</div>
