<div class="row p-4">
    <div class="col-sm-8">
        <input class="form-control form-control-lg" placeholder="Search a place by name" (input)="search = $event.target.value">
    </div>
    <div class="col-sm-1 text-center">
        <strong style="line-height: 48px">or</strong>
    </div>
    <div class="col-sm-2 text-center">
        <button [routerLink]="['/add']"class="btn btn-success btn-lg" tabindex="-1" role="button" aria-disabled="true">Add New</button>
    </div>
</div>

<hr>

<div class="card-columns">
    <div *ngFor="let post of postList | containsText: search; trackBy: trackByFn" class="card">
        <button type="button" (click)="removePost(post)"
                class="close rounded-circle position-absolute bg-danger pl-1 pr-1" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="card-inner" [routerLink]="['/show/', post.id]">
            <img class="card-img-top img-fluid" [src]="post.image_url" [alt]="post.title">
            <div class="card-body">
                <h5 class="card-title">
                    {{post.title}}
                </h5>
                <p class="card-text">
                    {{post.content}}
                </p>
            </div>
        </div>
    </div>

</div>

<router-outlet (activate)="onActivate($event)"></router-outlet>
